# Homework 6: Web Applications

For this homework, you're going to write a web API for the lake data in the MONDIAL database. (Make sure you've imported the data as originally outlined in [our week 1 tutorial](https://github.com/ledeprogram/data-and-databases/blob/master/SQL_notes.md).)

The API should perform the following tasks:

* A request to `/lakes` should return a JSON list of dictionaries, with the information from the `name`, `elevation`, `area` and `type` fields from the `lake` table in MONDIAL.
* The API should recognize the query string parameter `sort`. When left blank or set to `name`, the results should be sorted by the name of the lake (in alphabetical order). When set to `area` or `elevation`, the results should be sorted by the requested field, in *descending* order.
* The API should recognize the query string parameter `type`. When specified, the results should *only* include rows that have the specified value in the `type` field.
* You should be able to use *both* the `sort` and `type` parameters in any request.

This notebook contains only *test requests to your API*. Write the API as a standalone Python program, start the program and then run the code in the cells below to ensure that your API produces the expected output. When you're done, paste the source code in the final cell (so we can check your work, if needed).

Hints when writing your API code:

* You'll need to construct the SQL query as a string, piece by piece. This will likely involve a somewhat messy tangle of `if` statements. Lean into the messy tangle.
* Make sure to use parameter placeholders (%s) in the query.
* If you're getting SQL errors, print out your SQL statement in the request handler function so you can debug it. (When you use `print()` in Flask, the results will display in your terminal window.)
* When in doubt, return to the test code. Examine it carefully and make sure you know exactly what it's trying to do.

## Problem set #1: A list of lakes

Your API should return a JSON list of dictionaries (objects). Use the code below to determine what the keys of the dictionaries should be. (For brevity, this example only prints out the first ten records, but of course your API should return all of them.)

Expected output:

    143 lakes
    Ammersee - elevation: 533 m / area: 46 km^2 / type: None
    Arresoe - elevation: None m / area: 40 km^2 / type: None
    Atlin Lake - elevation: 668 m / area: 798 km^2 / type: None
    Balaton - elevation: 104 m / area: 594 km^2 / type: None
    Barrage de Mbakaou - elevation: None m / area: None km^2 / type: dam
    Bodensee - elevation: 395 m / area: 538 km^2 / type: None
    Brienzersee - elevation: 564 m / area: 29 km^2 / type: None
    Caspian Sea - elevation: -28 m / area: 386400 km^2 / type: salt
    Chad Lake - elevation: 250 m / area: 23000 km^2 / type: salt
    Chew Bahir - elevation: 520 m / area: 800 km^2 / type: salt

In [47]:
import requests
data = requests.get('http://localhost:5000/lakes').json()
print(len(data), "lakes")
for item in data[:10]:
    print(item['name'], "- elevation:", item['elevation'], "m / area:", item['area'], "km^2 / type:", item['type'])

143 lakes
Ammersee - elevation: 533 m / area: 46 km^2 / type: None
Arresoe - elevation: None m / area: 40 km^2 / type: None
Atlin Lake - elevation: 668 m / area: 798 km^2 / type: None
Balaton - elevation: 104 m / area: 594 km^2 / type: None
Barrage de Mbakaou - elevation: None m / area: None km^2 / type: dam
Bodensee - elevation: 395 m / area: 538 km^2 / type: None
Brienzersee - elevation: 564 m / area: 29 km^2 / type: None
Caspian Sea - elevation: -28 m / area: 386400 km^2 / type: salt
Chad Lake - elevation: 250 m / area: 23000 km^2 / type: salt
Chew Bahir - elevation: 520 m / area: 800 km^2 / type: salt

## Problem set #2: Lakes of a certain type

The following code fetches all lakes of type `salt` and finds their average area and elevation.

Expected output:

    average area: 18880
    average elevation: 970

In [19]:
import requests
data = requests.get('http://localhost:5000/lakes?type=salt').json()
avg_area = sum([x['area'] for x in data if x['area'] is not None]) / len(data)
avg_elev = sum([x['elevation'] for x in data if x['elevation'] is not None]) / len(data)
print("average area:", int(avg_area))
print("average elevation:", int(avg_elev))

average area: 18880
average elevation: 970

## Problem set #3: Lakes in order

The following code fetches lakes in reverse order by their elevation and prints out the name of the first fifteen, excluding lakes with an empty elevation field.

Expected output:

    * Licancabur Crater Lake
    * Nam Co
    * Lago Junin
    * Lake Titicaca
    * Poopo
    * Salar de Uyuni
    * Koli Sarez
    * Lake Irazu
    * Qinghai Lake
    * Segara Anak
    * Lake Tahoe
    * Crater Lake
    * Lake Tana
    * Lake Van
    * Issyk-Kul

In [25]:
import requests
data = requests.get('http://localhost:5000/lakes?sort=elevation').json()
for item in [x['name'] for x in data if x['elevation'] is not None][:15]:
    print("*", item)

* Licancabur Crater Lake
* Nam Co
* Lago Junin
* Lake Titicaca
* Poopo
* Salar de Uyuni
* Koli Sarez
* Lake Irazu
* Qinghai Lake
* Segara Anak
* Lake Tahoe
* Crater Lake
* Lake Tana
* Lake Van
* Issyk-Kul

## Problem set #4: Order and type

The following code prints the names of the largest caldera lakes, ordered in reverse order by area.

Expected output:

    * Lake Nyos
    * Lake Toba
    * Lago Trasimeno
    * Lago di Bolsena
    * Lago di Bracciano
    * Crater Lake
    * Segara Anak
    * Laacher Maar

In [28]:
import requests
data = requests.get('http://localhost:5000/lakes?sort=area&type=caldera').json()
for item in data:
    print("*", item['name'])

* Lake Nyos
* Lake Toba
* Lago Trasimeno
* Lago di Bolsena
* Lago di Bracciano
* Crater Lake
* Segara Anak
* Laacher Maar

## Problem set #5: Error handling

Your API should work fine even when faced with potential error-causing inputs. For example, the expected output for this statement is an empty list (`[]`), *not* every row in the table.

In [43]:
import requests
data = requests.get('http://localhost:5000/lakes', params={'type': "' OR true; --"}).json()
data

[]

Specifying a field other than `name`, `area` or `elevation` for the `sort` parameter should fail silently, defaulting to sorting alphabetically. Expected output: `['Ammersee', 'Arresoe', 'Atlin Lake', 'Balaton', 'Barrage de Mbakaou']
`

In [46]:
import requests
data = requests.get('http://localhost:5000/lakes', params={'sort': "florb"}).json()
[x['name'] for x in data[:5]]

['Ammersee', 'Arresoe', 'Atlin Lake', 'Balaton', 'Barrage de Mbakaou']

## Paste your code

Please paste the code for your entire Flask application in the cell below, in case we want to take a look when grading or debugging your assignment.

In [2]:
# paste code here
## WORK IN PROGRESS:

## This code works, next step is to make the type WHERE and the ORDER BY clause variables

from flask import Flask, request, jsonify
import pg8000

app = Flask (__name__)
conn = pg8000.connect(database="mondial", user="gcg")

@app.route("/lakes")
def get_lakes():
    cursor = conn.cursor()
    cursor.execute("SELECT name, elevation, area, type FROM lake WHERE type== 'salt' ORDER BY area DESC")
    output=[]
    for item in cursor.fetchall():
        #print(item)
        get_name = str(item[0])
        get_type = str(item[3])
        if item[1] is not None:
            get_elevation = float(item[1])
        else:
            get_elevation = None
        if item[2] is not None:
            get_area = float(item[2])
        else:
            get_area = None
        output.append({'name': get_name, 
                       'elevation': get_elevation, 
                       'area': get_area, 
                       'type': get_type})
    return jsonify(output)

app.run(port=5001)

ImportError: No module named 'flask'

In [3]:
## STEP 2: TRYING VARIOUS APPROACHES to make WHERE and ORDER BY variables


#%s can be
    #WHERE type = something
    
    #ORDER BY name
    #ORDER BY area DESC
    #ORDER BY elevation DESC
    
    #no where statement
    
#FIRST APPROACH
# http://initd.org/psycopg/docs/usage.html
#     psql = "SELECT name, elevation, area, type FROM lake ORDER BY %s"
#     sorting_option = request.args.get('sort', 'name')
#     if 'sort' == 'area':
#         sorting_option = "ORDER BY area DESC"
#     if 'sort' == 'elevation':
#         sorting_option = "ORDER BY elevation DESC"    
#     cursor.execute(psql, sorting_option)


#SECOND APPROACH
#     x = request.args.get ('sort', 'name')
#     if 'sort' == 'area':
#         manipulation = x + "DESC"
#     if 'sort' == 'elevation':
    
#     else: 
#         manipulation = x

In [4]:
## PROBLEM: EVEN JUST PUTTING THE ELEMENTS INTO VARIABLES RETURNS AN ERROR, ALTHOUGH THE PRINT-STATEMENT SHOWS THAT
## THE CURSOR-EXECUTE STATEMENT IS CORRECTLY RE-ASSEMBLED.

from flask import Flask, request, jsonify
import pg8000

app = Flask (__name__)
conn = pg8000.connect(database="mondial", user="gcg")

@app.route("/lakes", methods=["POST"])
def get_lakes():
    cursor = conn.cursor()

    type_opt = "WHERE type == 'salt'"
    sort_opt = "ORDER BY name"
    sql = "SELECT name, elevation, area, type FROM lake"
    print(type(sql), type(type_opt), type(sort_opt))
    conn.execute(sql, type_opt, sort_opt)

    output=[]
    for item in cursor.fetchall():
        get_name = str(item[0])
        get_type = str(item[3])
        if item[1] is not None:
            get_elevation = float(item[1])
        else:
            get_elevation = None
        if item[2] is not None:
            get_area = float(item[2])
        else:
            get_area = None
        output.append({'name': get_name, 
                       'elevation': get_elevation, 
                       'area': get_area, 
                       'type': get_type})
    return jsonify(output)

app.run()

ImportError: No module named 'flask'